snippet c) "c)"
Copyright `!v &enc[:2] == "utf" ? "©" : "(c)"` `!v strftime("%Y")` ${1:`!v g:snips_author`}. All Rights Reserved.${2}
endsnippet

snippet date "date"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet ddate "ddate"
`!v strftime("%B %d, %Y")`
endsnippet

snippet tphead "tphead"
{
 "title":"${1:Sin titulo}",
 "date" : "`!v strftime("%d-%m-%Y")`",
 "slug" : "${2:nuevo-slug}",
 "author" : "Antonio Touriño",
 "tag" : "$3"
}
endsnippet
